{% extends "base.html" %}
{% block body %}
<div class="container">
    <form class="form-group" method="POST" action="/">
        <label class="form-check-label" for="fname">Category:</label><br>
        <input class="form-check-input" type="radio" id="chest" name="category" value="Chest">
        <label class="form-check-label" for="male">Chest</label><br>
        <input class="form-check-input" type="radio" id="shoulder" name="category" value="Shoulder">
        <label class="form-check-label" for="male">Shoulder</label><br>
        <input class="form-check-input" type="radio" id="back" name="category" value="Back">
        <label class="form-check-label" for="male">Back</label><br>
        <input class="form-check-input" type="radio" id="leg" name="category" value="Leg">
        <label class="form-check-label" for="male">Leg</label><br>
        <input class="form-check-input" type="radio" id="arm" name="category" value="Arm">
        <label class="form-check-label" for="male">Arm</label><br>
        <input class="form-check-input" type="radio" id="abs" name="category" value="Abs">
        <label class="form-check-label" for="male">Abs</label><br>
        <input class="form-check-input" type="radio" id="cardio" name="category" value="Cardio">
        <label class="form-check-label" for="male">Cardio</label><br>
        <input class="form-check-input" type="radio" id="other" name="category" value="Other">
        <label class="form-check-label" for="male">Other</label><br>

        <label class="form-check-label"  for="fname">Exercise:</label><br>
        <input class="form-check-label" type="text" name="exercise"><br>

        <label class="form-check-label" for="fname">Weight:</label><br>
        <input class="form-check-label" type="text" name="weight"><br>

        <label class="form-check-label" for="fname">Sets:</label><br>
        <input class="form-check-label" type="text" name="sets"><br>

        <label class="form-check-label" for="fname">Reps:</label><br>
        <input class="form-check-label" type="text" name="reps"><br>
      <input class="form-check-label" type="submit" value="Add">
    </form>
    <br>
    <h1>Records</h1>
    <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Category</th>
          <th scope="col">Exercise</th>
          <th scope="col">Weight</th>
            <th scope="col">Sets</th>
            <th scope="col">Reps</th>
            <th scope="col">Date & Time</th>
        </tr>
        </thead>
    {% for record in records %}
      <tbody>
        <tr>
          <th scope="row">{{ record.id }}</th>
          <td>{{ record.category }}</td>
          <td>{{ record.exercise }}</td>
          <td>{{ record.weight }}</td>
          <td>{{ record.sets }}</td>
          <td>{{ record.reps }}</td>
            <td>{{ record.date_created }}</td>
        </tr>
      </tbody>
    {% endfor %}
    </table>
</div>
{% endblock %}